*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: rgb(0 100 0 /0.05) !important; */
}
body,html{
    background-color: #666fee;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h4
{
    font-size: 1.5rem;
    font-weight: 500;
    color: #080914eb;
    margin-bottom: .5rem;
    line-height: 1.5;
    text-transform: capitalize;

}
.container{
    background-color: white;
    width: 60vw;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
form input{
    margin: 5px 0;
    outline: none;
    border: 1px solid #6665ee;
}
form input.box{
    width: 350px;
    height: 30px;
    font-size: 1rem;
    padding: 10px;
}
form input.button{
    width: 70px;
    background-color:rgba(20, 155, 239, 0.799);
    color: white;
    
}
h5{
width: 100%;
font-size: 1.2rem;
padding: 9px 0;
background-color: #e05ccf;
text-align: center;
color: white;
}
.feedback{
    display: none;
}
.message-content{
    color: rgb(56, 168, 131);
}
.show{
    display: block;
}